spring:
  server:
    port: 8080
  application:
   name: notification
  datasource:
    url: jdbc:mysql://localhost:3306/notification_service?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      password: bookhihi_redis_password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  properties:
    hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: dat2801zz@gmail.com
    password: ${MAIL_PASSWORD}
    from: dat2801zz@gmail.com
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8